@media (max-width: 768px) {
    .logo-container{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: none;
    }
    .logo-container img{
        width: 90px;
        height: auto;
    }
    header{
        height: 140px;
    }
    .lng-contact{
        background: none;
        height: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .line{
        display: none;
    }
    .lng{
        display: none;
    }

    .lng-in-navbar {
        display: block;
        width: 26px;
        height: 24px;
    }
    .navbar ul{
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
    }
    li{
        font-size: 1.1rem;
        padding: 8px;
    }
    .atilim img{
        width: 100%;
        filter: drop-shadow(1px 1px 5px #cecece);
    }
    .swiper-button-prev, .swiper-button-next{
        display: none;
    }
    .atilim{
        margin-bottom: 30px !important;
        width: 90%;
        margin: 30px auto;
    }
    .swiper-slide{
        width: 100%;
        left: 0;
    }
    .main-div{
        margin-bottom: 30px;
        background: linear-gradient(90deg, #7f1f78db, #d73434db);
        min-height: auto;
    }
    .products-content-fix > div{
        width: calc(50% - 3px);
    }
    .divs{
        padding: 10px 3%;
        margin-bottom: 30px;
    }
    h2{
        text-align: center;
    }
    .products-content{
        padding-top: 150%;
    }
    .product-item{
        padding: 12px;
    }
    .product-mini-textures img {
        width: 33%;
        margin: 3px;
    }
    .product-mini-textures{
        margin-bottom: 45px;
    }
    .brands-img{
        display: none;
    }
    .brands-mobile-img{
        display: block;
        width: 160px;
    }
    .brands-content{
        height: 720px;

    }
    .g-map-content{
        flex-direction: column;
        height: auto;
    }
    .office-map{
        width: 100%;
    }
    .factory-map{
        width: 100%;
    }
    .contact-content{
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .contact-content > div{
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .contact-msg > input{
        width: 85%;
    }
    .the-message{
        width: 95%;
    }
    .contact-msg > input {
        width: 95%;
    }
    .cert-content{
        padding: 5px;
    }
    .cert-item {
        width: calc(48% - 10px);
    }
    .cert-img {
        width: 100%;
    }
    .divs{
        font-size: 1rem;
    }
    .products-img{
        width: 75%;
    }
    .contact-mini{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .c-item {
        width: 46px;
        height: 46px;
    }
    .navbar ul.list{
        visibility: hidden;
        height: 0;
        overflow: hidden;
        padding: 0;
        transition: all .1s ease;
    }
    .open-list{
        visibility: visible !important;
        height: auto !important;
        padding: 10px !important;
    }
    .burger{
        display: flex;
    }
    .navbar-mobile{
        display: flex;
        background: transparent;
    }
    .item{
        width: 100%;
        text-align: center;
        padding: 12px;
    }
    .up-btn{
        width: 45px;
        height: 45px;
        bottom: 5%;
        border-radius: 50px;
    }
    .swiper{
        display: none;
    }
    .no-swiper{
        display: block;
        padding: 20px 7px;
        position: relative;
    }
    .text{
        font-size: 3.8vmin;
        line-height: 2;
        padding: 0;
        
        
        
        !i;
        !;
    }
    .vid-main{
    filter: blur(1px);
    }
    .no-swiper .fea-item{
        width: calc(30% - 30px);
        margin: 0;
        padding: 20px;
    }
    .no-swiper .inno{
    }

.features {
    align-items: center;
    justify-content: center;
}
    h3{
        font-size: 1.5rem;
    }
    .fea-item img {
        width: 50px;
    }

    .features p {
        font-size: .9rem !important;
        text-align: center;
    }

    .map-url{
        text-align: center;
    }
    .media-content{
        padding-top: 100%;
    }
    .slider-wrapper .slide-active .slider-content h2{
        font-size: 14px;
        text-align: center;
    }
    .slider-wrapper .slide-active .slider-content p{
        font-size: 12px;
    }
    .slider-controls{
        position: relative;
        height: 50%;
        top: 50%;
    }
    .slider .slider-controls .slide-control-left, .slider .slider-controls .slide-control-right{
        width: 12vmin;
        height: 12vmin;
    }
    .slider .slider-controls .slide-control-left:hover, .slider .slider-controls .slide-control-right:hover{
        width: 12vmin;
        height: 12vmin;
    }
    .slider{
        padding: 0;
        height: 100%;
    }
    .eng-img{
        filter: drop-shadow(0 0 5px #666);
    }
    .grid{
        opacity: .04;
        background-image: url(./imgs/grid.png);
        filter: drop-shadow(0 0 15px #000);
    }
    .slider .slider-controls .slide-control-right {
        right: -18px !important;
    }
    .slider-wrapper .slide .slider-content {
        position: absolute;
        z-index: 2;
        left: 50%;
        text-align: center;
        bottom: 0;
        transform: translateX(-50%);
    }
    .slider-wrapper{
        height: 140%;
        max-height: 140%;
    }
    .product-item, .g-map-content, .brands-content, .media-content-fix, .cert-content, .products-content-fix{
        box-shadow: 0 0 7px #b8b8b8;
    }

.media-content-fix {
    padding: 0;
}
    .cert-browse{
        position:fixed; width: 80%; height: auto; z-index:9999999; left:50%; top:50%; transform:translate(-50%,-50%);box-shadow:0 0 15px #242424; border-radius:15px;
      }
      .product-images{
        flex-direction: column;
        align-items: center;
      }
      .product-images img {
        width: 100%;
    }

}

